{:deps {org.httpkit/http-kit "2.9.0-beta1"
        babashka/json "0.1.6"
        metosin/malli "0.20.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "mcp-bb-clj.core-test"]}}}