{:deps {org.httpkit/http-kit {:mvn/version "2.5.3"}
        babashka/json {:mvn/version "0.1.5"}
        metosin/malli {:mvn/version "0.20.0-alpha3"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "mcp-bb-clj.core-test"]}}}
